.ml-102 {
  margin-left: 102px;
}
.ml-134 {
  margin-left: 134px;
}
.mt-15 {
  margin-top: 15px;
}
.ml-140 {
  margin-left: 140px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-153 {
  margin-left: 153px;
}
.page {
  padding-bottom: 110px;
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.group {
  margin-left: 8px;
  padding: 10px 0 18px;
  width: 857.5px;
}
.font {
  font-size: 20px;
  font-family: SourceHanSans;
  line-height: 29px;
  color: #000000;
}
.text {
  width: 241px;
}
.font_2 {
  font-size: 24px;
  font-family: SourceHanSans;
  line-height: 22.5px;
  color: #000000;
}
.text_2 {
  line-height: 23px;
}
.text_3 {
  line-height: 17.5px;
}
.divider {
  background-color: #808080;
  width: 1927px;
  height: 1px;
}
.group_2 {
  margin-top: 12px;
  padding: 0 84px;
}
.group_3 {
  width: 862.5px;
}
.group_4 {
  width: 123px;
}
.image {
  border-radius: 50%;
  width: 123px;
  height: 123px;
}
.font_4 {
  font-size: 16px;
  font-family: SourceHanSans;
  line-height: 12px;
  color: #383838;
}
.font_3 {
  font-size: 30px;
  font-family: SourceHanSans;
  line-height: 43px;
  color: #000000;
}
.text_4 {
  margin-top: 138px;
  width: 608px;
}
.group_5 {
  margin-top: 6px;
}
.image_2 {
  width: 18px;
  height: 22px;
}
.text_7 {
  line-height: 14.5px;
}
.group_6 {
  margin-bottom: 4px;
}
.group_7 {
  padding-bottom: 2px;
  width: 262px;
}
.text_5 {
  color: #e60e0e;
  word-break: break-all;
  width: 145.5px;
}
.pos {
  position: absolute;
  right: 15px;
  bottom: 0;
}
.text_6 {
  line-height: 28.5px;
}
.group_8 {
  margin-top: 16px;
  padding: 0 4px;
}
.group_9 {
  margin-top: 8px;
}
.image_4 {
  width: 18px;
  height: 16px;
}
.image_5 {
  width: 17px;
  height: 20px;
}
.text_8 {
  color: #000000;
}
.image_3 {
  width: 850px;
  height: 637px;
}