.ml-1577 {
  margin-left: 1577px;
}
.ml-67 {
  margin-left: 67px;
}
.ml-879 {
  margin-left: 879px;
}
.ml-3 {
  margin-left: 3px;
}
.page {
  padding: 14px 0 675px;
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.group {
  overflow-x: hidden;
}
.view {
  margin-left: 8px;
}
.font {
  font-size: 20px;
  font-family: SourceHanSansCN;
  line-height: 24px;
  color: #000000;
}
.text {
  width: 260px;
}
.text_2 {
  color: #000000;
  font-size: 24px;
  font-family: SourceHanSansCN;
  line-height: 24.5px;
}
.group_2 {
  margin-top: 28px;
  padding: 0 84px;
  border-top: solid 1px #808080;
}
.image {
  border-radius: 50%;
  width: 123px;
  height: 123px;
}
.font_2 {
  font-size: 30px;
  font-family: SourceHanSansCN;
  line-height: 36px;
  color: #000000;
}
.text_3 {
  margin-right: 1432px;
  margin-top: 56px;
  width: 130px;
}
.group_3 {
  margin-top: 18px;
  padding-left: 82px;
}
.view_2 {
  margin-left: 2px;
}
.group_4 {
  width: 127px;
}
.font_3 {
  font-size: 16px;
  font-family: SourceHanSansCN;
  line-height: 13px;
  color: #383838;
}
.text_4 {
  margin-right: -2570px;
  margin-top: 28px;
  width: 3399px;
}
.image_2 {
  width: 24px;
  height: 24px;
}
.text_5 {
  line-height: 16px;
}
.group_5 {
  padding: 0 5px;
}
.group_6 {
  padding: 0 4px;
}
.text_6 {
  color: #000000;
}