.ml-97 {
  margin-left: 97px;
}
.ml-129 {
  margin-left: 129px;
}
.ml-3 {
  margin-left: 3px;
}
.ml-61 {
  margin-left: 61px;
}
.page {
  padding-bottom: 132px;
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.group {
  margin-left: 8px;
  padding: 14px 0;
  width: 856px;
}
.font {
  font-size: 20px;
  font-family: SourceHanSansCN;
  line-height: 24px;
  color: #000000;
}
.text {
  width: 260px;
}
.font_2 {
  font-size: 24px;
  font-family: SourceHanSansCN;
  color: #000000;
}
.text_2 {
  line-height: 24.5px;
}
.text_3 {
  line-height: 25px;
}
.text_4 {
  line-height: 18px;
}
.divider {
  background-color: #808080;
  width: 1927px;
  height: 1px;
}
.group_2 {
  margin-left: 82px;
  margin-top: 14px;
}
.group_3 {
  width: 129.5px;
}
.image {
  margin-right: 4px;
  border-radius: 50%;
  width: 123px;
  height: 123px;
}
.text_5 {
  margin-left: 2px;
  margin-top: 18px;
}
.font_3 {
  font-size: 16px;
  font-family: SourceHanSansCN;
  line-height: 13px;
  color: #383838;
}
.text_6 {
  margin-left: 2px;
  margin-top: 16px;
}
.group_4 {
  margin-top: 30px;
}
.image_3 {
  width: 24px;
  height: 24px;
}
.text_7 {
  line-height: 16px;
}
.group_5 {
  margin-top: 19px;
  padding: 0 5px;
}
.group_6 {
  margin-top: 21px;
  padding: 0 4px;
}
.text_8 {
  color: #000000;
}
.image_2 {
  margin-top: 3px;
  height: 875px;
}