.ml-97 {
  margin-left: 97px;
}
.ml-129 {
  margin-left: 129px;
}
.ml-3 {
  margin-left: 3px;
}
.ml-131 {
  margin-left: 131px;
}
.mt-21 {
  margin-top: 21px;
}
.ml-149 {
  margin-left: 149px;
}
.page {
  padding-bottom: 110px;
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.group {
  margin-left: 8px;
  padding: 14px 0;
  width: 856px;
}
.font {
  font-size: 20px;
  font-family: SourceHanSansCN;
  line-height: 24px;
  color: #000000;
}
.text {
  width: 260px;
}
.font_2 {
  font-size: 24px;
  font-family: SourceHanSansCN;
  color: #000000;
}
.text_2 {
  line-height: 24.5px;
}
.text_3 {
  line-height: 25px;
}
.text_4 {
  line-height: 18px;
}
.divider {
  background-color: #808080;
  width: 1927px;
  height: 1px;
}
.group_2 {
  margin-top: 14px;
  padding: 0 82px;
}
.group_3 {
  width: 889px;
}
.group_4 {
  width: 127.5px;
}
.image {
  margin-right: 4px;
  border-radius: 50%;
  width: 123px;
  height: 123px;
}
.font_4 {
  font-size: 16px;
  font-family: SourceHanSansCN;
  line-height: 13px;
  color: #383838;
}
.font_3 {
  font-size: 30px;
  font-family: SourceHanSansCN;
  line-height: 36px;
  color: #000000;
}
.text_5 {
  margin-top: 142px;
  width: 634px;
}
.group_5 {
  margin-top: 10px;
}
.group_7 {
  margin-top: 20px;
}
.image_2 {
  width: 24px;
  height: 24px;
}
.text_8 {
  line-height: 16px;
}
.group_6 {
  padding-bottom: 3px;
  width: 266.5px;
}
.text_7 {
  color: #e60e0e;
  word-break: break-all;
  width: 148px;
}
.pos {
  position: absolute;
  right: 15px;
  bottom: 0;
}
.text_6 {
  line-height: 31px;
}
.group_8 {
  margin-top: 16px;
  padding: 0 4px;
}
.group_9 {
  margin-top: 3px;
}
.text_9 {
  color: #000000;
}
.image_3 {
  width: 850px;
  height: 637px;
}